{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <!-- bootstrap 적용 -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <!-- bonobono image -->
    <div class="container">
        <h1>게시판 만들기 수업</h1>
        <img src="{% static 'images/bono.JPG' %}">
        {% block body %}
        {% endblock %}
        <a href="{% url 'articles:index' %}">게시글 목록 보기</a>
    </div>

    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

</body>
</html>