<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Live Session</title>
    {% bootstrap_css %}
</head>
<body>
    {% include '_nav.html' %}
    {% if request.user.is_authenticated %}
    <p>{{ request.user.username }}님 환영합니다</p>
    <a href="{% url 'accounts:signout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'accounts:signin' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    <div class="container">
        {% block body %}
        {% endblock %}
        {% bootstrap_javascript jquery='full' %}
    </div>

</body>
</html>