<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div id="app">
    <!--  "v-" 접두사로 시작하는 것들을 "디렉티브" 라 한다.-->
    <!-- Vanilla JS. domElement.innerText 와 같다-->
    <p v-text="message"></p>
    <p>{{ message }}</p>


    <!-- v-if true false -->
    <p v-if="bool1">
      true
    </p>
    <p v-if="bool2">
      false
    </p>
    <p v-if="str1">
      Yes
    </p>
    <p v-if="str2">
      No
    </p>
    <p v-if="num1">
      1
    </p>
    <p v-if="num2">
      0
    </p>

    <p v-if="username === 'master'">
      Hello master
    </p>
    <p v-else>
      Hello User
    </p>


    <p v-if="number > 0">
      양수 
    </p>
    <p v-else-if="number < 0">
      음수
    </p>
    <p v-else>
      0
    </p>

    <!-- v-for -->
    <ul>
      <li v-for="number in numbers">{{ number }}</li>
    </ul>
    <ol>
      <li v-for="teacher in teachers">{{ teacher.name }}</li>
    </ol>

    <!-- v-bind, 표준 HTML 속성과 Vue 인스턴스를 연동할 때, 축약 :  -->
    <a v-bind:href="googleUrl">Google link</a>
    <a v-bind:href="naverUrl">Naver link</a>
    <img :src="randomImageUrl" alt="random-image">

    <!-- methods, v-on,,   v-on 축약 @-->
    <p>{{message}}</p> <!-- console: app.changeMessage()-->
    <button v-on:click="alertWarning">Alert Warning</button>
    <button v-on:click="alertMessage">Alert Message</button>
    <button @:click="changeMessage">Change Message</button>
    <hr>
    <input @:keyup.enter="onInputChange" type="text">

    <!-- v-model :    input, select, textarea 에 양방향 binding -->
    <h1>{{ message }}</h1>
    <input @keyup.enter="onInputChange" type="text">  <!-- 단방향 input값이 data에 영향을 준다, data값은 input에 영향 x -->
    <hr>
    <input @keyup.enter="onInputChange" type="text" :value="message"> <!-- 양방향 -->
    <hr>
    <input type="text" v-model="message">   <!-- 양방향 위에랑 똑같음 -->
    <hr>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',  // mount
      data: {     // MVVM => Model 담당 
        message: "Hello Vue!",
        bool1: true,
        bool2: false,
        str1: 'Yes',
        str2: '',
        num1: 1,
        num2: 0,
        username: 'master',
        number: 0,
        numbers: [0,1,2,3,4,5],
        teachers: [
          {name:'neo'},
          {name:'tak'},
        ],
        googleUrl: 'https://google.com',
        naverUrl: 'https://naver.com',
        randomImageUrl: 'https://picsum.photos/200',
        
      },
      methods: {
        alertWarning: function () {
          alert('warning!')
        },

        // 간편한 표기 Syntactic Sugar
        alertMessage () {
          alert(this.message)
        },

        changeMessage() {
          this.message = "Changed Message"
        },
        onInputChange (event) {
          this.message = event.target.value
        },

      }
    })
    
  </script>
</body>
</html>